.AboutView {
    :global {
        position: relative;
        .container {
            flex-direction: column;
            display: flex;
            grid-gap: 24px;
            padding: 0;
            .layout {
                gap: inherit;
                display: flex;
                align-items: flex-start;
                .sidebar {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    box-sizing: border-box;
                    flex: 0 0 250px;
                    border-radius: 8px;
                    background: white;
                    padding: 20px;
                    box-shadow: 0px 15px 30px -35px black;
                    img {
                        height: 250px;
                        width: 250px;
                        background: rgba(0,0,0,0.05);
                        border-radius: 100%;
                        background-size: 100%;
                        background-position: center center;
                        color: #f0f0f0;
                        border: 10px solid;
                        box-sizing: border-box;
                        object-fit: cover;
                        transition: all 0.3s;
                        cursor: pointer;
                        &:hover {
                            color: #9ceaff;
                        }
                        &:active {
                            color: yellow;
                        }
                    }
                    [name] {
                        text-align: left;
                        font-size: 28px;
                        font-weight: 500;
                        margin-top: 12px;
                    }
                    .socials {
                        display: grid;
                        gap: 0px;
                        .title {
                        font-size: 20px;
                        text-align: left;
                        font-weight: 500;
                        border-bottom: 1px solid rgba(0,0,0,0.1);
                        margin-bottom: 12px;
                        padding-bottom: 12px;
                        }
                        .social {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-size: 18px;
                        font-weight: 500;
                        cursor: pointer;
                        padding: 8px 16px;
                        border-radius: 4px;
                        .logo {
                            width: 30px;
                            height: 30px;
                            color: transparent;
                            border-radius: 100%;
                            margin-right: 8px;
                            filter: grayscale(1) opacity(0.8);
                        }
                        &:hover {
                            text-decoration: none;
                            background: #3390ff;
                            transform: translate(0, -2px);
                            color: black;
                            [logo] {
                            filter: none;
                            pointer-events: none;
                            }
                            [social-name] {
                            color: white;
                            pointer-events: none;
                            }
                        }
                        &:active {
                            text-decoration: none;
                            background: #9ceaff;
                            transform: translate(0);
                            color: black;
                        }
                        }
                    }
                    }
                    .main {
                    display: flex;
                    flex-direction: column;
                    gap: inherit;
                    .collection {
                        background-color: white;
                        padding: 32px;
                        border-radius: 4px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 12px;
                        position: relative;
                        .object {
                            p {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 0 4px;
                                &:nth-of-type(2) {
                                color: rgba(0,0,0,0.85);
                                margin: 0;
                                span:nth-of-type(1) {
                                    font-weight: 400;
                                }
                                span:nth-of-type(2) {
                                    font-style: italic;
                                }
                                }
                                .object-title {
                                font-weight: 400;
                                }
                            }
                        }
                        [info] {
                        [details] {
                            color: rgba(0,0,0,0.5);
                            margin: 0;
                            line-height: 15px;
                            font-size: calc(0.2vw + 14px);
                        }
                        }
                        .main {
                            a {
                                color: #655ffa;
                                font-weight: 400;
                                text-decoration: none;
                                &:hover {
                                color: #f10000;
                                }
                                &:active {
                                color: #00b83e;
                                }
                            }
                        }
                    }
                    .about {
                        display: flex;
                        flex-direction: column;
                        background-color: white;
                        border-radius: 4px;
                        [image] {
                            border-radius: 2px 2px 0 0;
                            flex: 0 0 24px;
                            height: 450px;
                            background-color: black;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: top;
                        }
                        .text {
                            padding: 32px;
                            gap: inherit;
                            display: flex;
                            flex-direction: column;
                        }
                    }
                    .about-info {
                        text-align: left;
                        flex: 1 1 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        text-align: justify;
                        .full-name {
                        padding: 3px;
                        background-color: #3390ff;
                        color: white;
                        }
                    }
                }
            }
            .bottom {
                .extra-info {
                text-align: left;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 24px;
                .collection {
                    &:nth-of-type(1) {
                    .title {
                        color: #ff4e4e;
                    }
                    }
                    &:nth-of-type(2) {
                    .title {
                        color: #758aff;
                    }
                    }
                    &:nth-of-type(3) {
                    .title {
                        color: #46d85d;
                    }
                    }
                    &:nth-of-type(4) {
                    .title {
                        color: #fec010;
                    }
                    }
                }
                @media (max-width: 1200px) {
                    grid-template-columns: 1fr;
                }
                }
                .title {
                    font-size: 28px;
                    text-transform: capitalize;
                    color: black;
                    font-weight: 500;
                    margin-bottom: 12px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    padding-bottom: 8px;
                }
            }
            }
            @media (max-width: 640px) {
            .container {
                .layout {
                    flex-direction: column;
                    .sidebar {
                        width: 100%;
                        img {
                            height: 150px;
                            width: 150px;
                        }
                        [socials] {
                            // width: 100%;
                            .title {
                                // text-align: center;
                            }
                            .social {
                                // justify-content: center;
                                // display: grid;
                                // grid-template-columns: 30px 100px;
                                // gap: 8px;
                                
                            }
                            .social-name {
                                // text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
  }