.GenerationsPage :global {
    .gallery {
        .container {
            .gallery-item {
                justify-content: center;
                align-items: flex-start;
                padding: 0;
                display: grid;
                grid-template-columns: auto auto;
                gap: 32px;

                .miniCard {
                    box-shadow: 0px 15px 30px -35px black;
                    width: 450px;
                    background: white;
                    background: linear-gradient(180deg, #f8f8f8 0%, #f5f5f5 30%, #f0f0f0 100%);
                    padding: 32px;
                    border-radius: 4px;
                    box-sizing: border-box;
                    grid-template-columns: repeat(4, 1fr);
                    display: grid;
                    gap: 16px;
                    .name {
                        font-size: 28px;
                        color: black;
                        font-weight: 500;
                        grid-column: 1/2;
                        text-align: left;
                    }
                    .date {
                        font-size: calc(0.25vw + 14px);
                        font-weight: 100;
                        grid-column: 2/5;
                        text-align: right;
                    }
                    .properties {
                        align-items: center;
                        grid-column: 1/4;
                        display: flex;
                        gap: 12px;
                        .sampler {
                            background-color: rgb(0, 0, 0);
                        }
                        .style {
                            background-color: rgb(0, 0, 0);
                        }
                        .sampler, .style {
                            font-weight: 400;
                            color: white;
                            margin: 0;
                            flex: 0 1 auto;
                            text-align: center;
                            padding: 2px 12px 2px 8px;
                            font-size: 12px;
                            border-radius: 4px;
                        }
                    }
                    .prompt {
                        grid-column: 1/5;
                        font-weight: 100;
                        font-size: calc(0.25vw + 14px);
                    }
                    .buttons {
                        display: flex;
                        grid-column: 1/5;
                        gap: 16px;
                        div {
                            flex: 1 1 100%;
                        }
                    }
                }
            }
        }
    }
}