.BadgeComponent {
    align-items: center;
    display: flex;
    gap: 12px;
    background-color: rgb(0, 0, 0);
    font-weight: 400;
    color: white;
    margin: 0;
    flex: 0 1 auto;
    text-align: center;
    padding: 2px 12px 2px 8px;
    font-size: 12px;
    border-radius: 4px;
}